/* --main-background:#0f13eb; */

/* standard aspects */
* {
    margin: 0;
}

/* variables */
:root{
    --main-background:#121212;
    --card-background:#9fb3b1;
    --cover-background:#7be986;
    --button-color:#f1f1f3;
    --button-border:#8d713d;
    --green-effect:#7fff00;
    --alive:#0af70a;
    --dead:#eb0404;
    --unknown:#2410d3;
}

/* fonts */
@font-face {
    font-family: Ricks;
    src: url("../fonts/shloprg.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* general structure */
body{
    background-color: var(--main-background);
    min-width: 360px;
    max-width:100vw;
    overflow-x: hidden;  
}

.centralized{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== header ========== */
h1{
    font-family: Ricks;
    font-size: 80px;
}

.title{
    width: 100vw;
    height: 100vh;
    background: url("../img/image-background.png") no-repeat ; /* LOGO*/ 
    background-size: cover;
    background-position: center;
    position: relative;   
    z-index: 0;
    flex-direction: column;
}

.title::before{
    content: "";
    background:var(--cover-background);
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

/* ========== main structure ========== */
#apresentation h2{
    font-size:20px;
    color:var( --button-color);
}

/*all-characters*/
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
    
}

/* single character's card */
.card{
    margin-left: 25px;  
    margin-top: 15px;
    background-color:var(--card-background) ;
    width:350px;
    border-radius: 30px;
}
.character-name{
    margin-top: 5px;
    height: 45px;    
}
.card h2{
    font-size: 20px;
}
.status{
    margin-left: -25px;
    border-radius: 18px;  
}
button{
    background-color: var(--button-color);
    border-radius: 18px;
    border-color: var(--button-border);
}
.Alive ::marker{
    color:var(--alive);
}
.Dead ::marker{
    color:var(--dead);
}
.unknown ::marker{
    color:var(--unknown) ;
}

.standard-margin{
    margin-left: 25px;
}
/* ========== Botões de paginação  ========== */
#buttons{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    color: var(--button-color);
}
/* ========== footer  ========== */
footer{
    margin-top: 10px;
    background-color: var(--button-color);
    font-size: 12px;
}

/*Scrool bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color:var(--green-effect);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background-color:var(--main-background);
    border-radius: 50px;
}

/* ========== RESPONSIVE DESIGN - mobile/tablet ========== */
@media (min-width: 360px) and (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    .card{
        margin-left: 5px; 
    }
    footer{
        font-size: 6px;
    }


}
